
/* Google Fonts - Encode Sans*/
/* font-family: "Encode Sans", serif; */

/* google fonts - Abril Fatface */
/* font-family: "Abril Fatface", serif; */

/* body */
body {
    background-color: #fffbee;
    font-family: "Encode Sans", serif;
    color: #1A1A1A;
}
/* header */
.bg-nav-propio {
    background-color: #fffbee;
}
.nav-list {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: #1A1A1A;
}
/* footer */
footer {
    background-color: #5c3743;
    color: #fffbee;
}
/* main */
.portada {
    margin-top: 10rem;
    margin-bottom: 6rem;
    align-items: center;
    justify-content: center;
}

.h1-inicio {
    font-family: "Abril Fatface", serif;
    font-size: 88px;
    text-decoration: underline;
}
.p-inicio {
    font-size: 24px;
}

/* .seccion-cards {
    background-color: #5c3743;
    color: #fffbee;
}

.h2-inicio {
    font-family: "Abril Fatface", serif;
    font-size: 48px;
    color: #fffbee;
    margin-top: 60px;
}
.inicio-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.card-degustaciones {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 320px;
    background-color: #fffbee;
    padding: 20px;
    border-radius: 8px;
}
.card-degustaciones img {
    width: 100%;
    border-radius: 4px;
}
.titulo-cards {
    font-family: "Abril Fatface", serif;
    font-size: 24px;
    color: #1A1A1A;
}
.h1-paginas-sec {
    font-family: "Abril Fatface", serif;
    font-size: 64px;
    text-decoration: underline;
}
.h2-card-degs {
    font-family: "Abril Fatface", serif;
    font-size: 36px;
}
.ubicacion-card-degs {
    font-size: 20px;
}
.p-card-degs {
    font-size: 24px;
}
.precio-degs {
    font-size: 36px;
}
label {
    font-size: 24px;
}
.button-reservar-reserv {
    font-size: 24px;
    color: #fffbee;
    background-color: #5c3743;
}
.p-nosotros {
    font-size: 24px;
}
.h2-nomb-puest {
    font-family: "Abril Fatface", serif;
    font-size: 26px;
} */



